#logos{height:6%; width: auto; position:fixed; bottom:2px; left:2px; }

#header{position:fixed; top:0%; left:0%; width: 100%; height:55px; padding: 8px 16px 4px 16px; background-color: #f4f4f7; border-bottom: 1px solid #e8e8e8;}
#KEEPER_logo{height:43px; width: auto; position: fixed; top: 3px; left:2px;}

@media only screen and (max-width:950px){
	#cared{width:20px; height: auto; margin-top: 8px; margin-right: 32px}
	#open_access{width:20px; height: auto; position:fixed; left: 5%; top:25%;}
	td{font-size: 10pt;}
}

@media only screen and (min-width:950px){
	td{font-size: 12pt;}
	#cared{width:40px; height: auto; margin-top: 8px; margin-right: 48px}
	#open_access{width:40px; height: auto; position:fixed; left: 10%; top:45%;}
}

html, body {
	height: 100%;
	margin: 0;
}

.tombstone_root {
	min-height: 100%;
}

.doi_root{
	padding-top: 6%;
	background: #fff;
	display: flex;
	justify-content: flex-start;
	padding-bottom: 20em;
	min-height: 100%;
	padding-bottom: 208px;
}

.doi_title{
	margin-bottom: 1.5rem;
	color:#57a5b8;
}

.doi_tombstone_title{
	padding-top: 8%;
	margin-bottom: 1.5rem;
}

.doi_table_row{
	font-weight: normal;
	margin-bottom: 0.3rem;
}

.doi_desc{
	font-weight: normal;
	margin-bottom: 2.4rem;
}

.doi_link{
	color:#57a5b8;
}

.doi_contact{
	color:#57a5b8;
}

.doi_source{
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	margin-bottom: -0.2em;
}

.doi_download{
	background: #fff;
	color:#57a5b8;
	margin-right: 0.5rem
}

/* FOOTER */
#lg_footer {
	width:100%;
	font-size: 13px;
	margin-top: -126px;
}

#lg_footer {
		bottom: 0;
		padding-bottom: 0px;
}

#lg_footer .container {
		border-top: 1px solid #dcdcdc;
		padding-top: 15px;
}


#lg_footer div a {
	color: #575859 !important;
	font-size: 13px;
}

#lg_footer div h4 {
	color:#57a5b8 !important;
	font-size: 14.3px;
}

#lg_footer img {
		height: 30px;
		width: auto;
}


#seafile-credits {
	text-align: center;
}