#header{}

#footer{
	position:fixed; bottom: 0%; left:0%; 
	width:100%; height: 8%; 
	background-color: #EBEBEB;
	border-top: 3px solid #3F988C;}


#logos{height:6%; width: auto; position:fixed; bottom:2px; left:2px; }

#header{position:fixed; top:0%; left:0%; width: 100%; height:8%; background-color: #EBEBEB;}
#KEEPER_logo{height:6%; width: auto; position: fixed; top: 3px; left:2px;}

#languages{position: fixed; top: 4%; right: 3%;}

a{text-decoration: none; outline: none; color: black;}




.separator{border-top: 1px solid #C8D0CF;}

.table_title{font-weight: 500; color: #777C7B;}



@media only screen and (max-width:950px){
	#content_table{width: 80%; height:80%; position: fixed; left: 5%; top: 25%;}
	#cared{width:20px; height: auto; position: fixed;right: 5%; top: 15%;}
	#open_access{width:20px; height: auto; position:fixed; right: 5%; top:25%;}
	td{font-size: 10pt;}
}

@media only screen and (min-width:950px){
	#content_table{width: 50%; height:50%; position: fixed; left: 25%; top: 25%;}
	td{font-size: 12pt;}
	#cared{width:40px; height: auto; position: fixed;right: 10%; top: 25%;}
	#open_access{width:40px; height: auto; position:fixed; right: 10%; top:45%;}
}

#title_ctn{width:90%; height: 4%; position:fixed; top:15%; left:5%;}

