{% extends 'email_base.html' %}

{% load i18n seahub_tags keeper_tags %}

{% block email_con %}

<p style="font-size:14px; line-height: 1.5; color:#121214; margin:.2em 0 12px;">{% blocktrans with name=to_user|email2nickname %}Hi, {{ name }}{% endblocktrans %}</p>
<p style="font-size:14px; line-height: 1.5; color:#434144; margin:.2em 0;">
{% blocktrans%}
You've got 1 new notice on {{ site_name }}:
{% endblocktrans %}
</p>

    <table style="width:100%; margin:12px 0 20px; table-layout:fixed; border-spacing: 0; border-collapse: collapse;">
        <tr>
            <th width="9%" style="padding: 5px 3px; border-bottom: 1px solid #eee;"></th>
            <th width="69%" style="padding: 5px 3px; border-bottom: 1px solid #eee; font-size:13px; text-align: left; font-weight: normal; color: #9c9c9c;">{% trans "Message" %}</th>
            <th width="22%" style="padding: 5px 3px; border-bottom: 1px solid #eee; font-size:13px; text-align: left; font-weight: normal; color: #9c9c9c;">{% trans "Time" %}</th>
        </tr>
        <tr>
            {% if message_type  == 'doi_suc_msg' %}
            <td style="padding:8px 3px 5px; border-bottom: 1px solid #eee; text-align:center; vertical-align:center;"><img src="{{ url_base }}{{media_url}}/custom/KeeperAvatar.png" width="32" height="32" alt="" style="border-radius:1000px;" /></td>
            {% elif message_type  == 'bloxberg_msg' %}
            <td style="padding:8px 3px 5px; border-bottom: 1px solid #eee; text-align:center; vertical-align:center;"><img src="{{ url_base }}{{media_url}}/custom/bloxberg_icon.png" width="32" height="32" alt="" style="border-radius:1000px;" /></td>
            {% elif message_type  == 'start_snapshot_msg' %}
            <td style="padding:8px 3px 5px; border-bottom: 1px solid #eee; text-align:center; vertical-align:center;"><img src="{{ url_base }}{{media_url}}/custom/bloxberg_icon.png" width="32" height="32" alt="" style="border-radius:1000px;" /></td>
            {% endif %}
            <td style="padding: 5px 3px; border-bottom: 1px solid #eee; font-size: 13px; color: #333; word-wrap: break-word;">
                {% if message_type  == 'doi_suc_msg'  %}
                <p style="brief">{{ message }}</p>
                {% elif message_type  == 'bloxberg_msg' %}
                    {% if content_type  == 'file'  %}
                    <p style="brief">
                    This notice verifies that {{author_name}} certified the file <a href="{{ url_base }}/lib/{{ repo_id }}/file{{link_to_file}}">{{file_name}}</a> within the library {{repo_name}} via the bloxberg blockchain.
                    Additional information like the file and the corresponding certificate can be found at <a href="{{ url_base }}/landing-page/libs/{{repo_id}}">{{repo_name}}</a></p>
                    {% elif content_type  == 'dir'  %}
                    <p style="brief">
                    This notice verifies that {{author_name}} certified the files within the library {{repo_name}} via the bloxberg blockchain.
                    Additional information like the files and the corresponding certificates can be found at <a href="{{ url_base }}/landing-page/libs/{{repo_id}}">{{repo_name}}</a></p>
                    {% endif %}
                {% elif message_type  == 'start_snapshot_msg' %}
                <p style="brief">{{ message }}</p>
                {% elif message_type  == 'certify_snapshot_failed_msg' %}
                <p style="brief">{{ message }}</p>
                {% endif %}
            </td>           
            <td style="padding: 5px 3px; border-bottom: 1px solid #eee; font-size: 13px; color: #333; word-wrap: break-word;">{{timestamp|date:"Y-m-d G:i:s"}}</td>
        </tr>
    </table>

<p style="font-size:14px;color:#434144;">
    {% trans "Go check out at the following page:" %}<br />
    <a href="{{ url_base }}{% url 'user_notification_list' %}">{{ url_base }}{% url 'user_notification_list' %}</a>
</p>
{% endblock %}
