{% extends "base_for_react.html" %}
{% load seahub_tags i18n %}
{% load render_bundle from webpack_loader %}

{% block sub_title %}bloxberg certificate - {% endblock %}

{% block extra_style %}
<link rel="resource" type="application/l10n" href="{{ MEDIA_URL }}js/pdf/locale/locale.properties" />
{% render_bundle 'historyTrashFileView' 'css' %}
{% render_bundle 'bloxbergCertificate' 'css' %}
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
// overwrite the one in base_for_react.html
window.bloxbergCertificate = {
  pageOptions: {
    repoName: '{{ repo_name|escapejs }}',
    repoDesc: '{{ repo_desc|escapejs }}',
    institute: '{{institute|escapejs}}',
    authors: '{{authors|escapejs}}',
    year: '{{year|escapejs}}',
    transactionId: '{{transaction_id|escapejs}}',
    pdfUrl: '{{pdf_url|escapejs}}',
    metadataUrl: '{{metadata_url|escapejs}}',
    historyFileUrl: '{{history_file_url|escapejs}}',
    datasetLink: '{{dataset_link|escapejs}}',
  }
};
</script>
{% render_bundle 'bloxbergCertificate' 'js' %}
<script type="text/javascript">
  var keeper_pdf = true
  var sf_file_url = '{{ pdf_url|escapejs }}';
  var sf_pdfworkerjs_url = '{{MEDIA_URL}}js/pdf/pdf.worker.min.js';
  var sf_pdf_images_path = '{{MEDIA_URL}}js/pdf/images/';
  var sf_pdf_cmaps_path = '{{MEDIA_URL}}js/pdf/cmaps/';
  var metadata_url = '{{ metadata_url|escapejs }}'
  var pdf_url = '{{ pdf_url|escapejs }}'
</script>
<script type="text/javascript" src="{{MEDIA_URL}}js/pdf/pdf.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/pdf/viewer.js"></script>
<script src="https://unpkg.com/@bloxberg-org/blockcerts-verifier@latest/dist/main.js"></script>

{% endblock %}