{% load i18n %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/landing_page.css"/>
		<link rel="stylesheet" type="text/css" href="/media/assets/css/bootstrap.min.css"/>
		<script type="text/javascript" src="/media/assets/scripts/lib/jquery.min.js" id="jquery"></script>

		<title>{% trans "Landing Page" %}</title>
		<link rel="icon" type="image/x-icon" href="/media/img/favicon.png" />
	</head>

	<body>
		<!-- HEADER -->
		<div id="header">
			<a href="/"><img id="KEEPER_logo" src="{{MEDIA_URL}}img/catalog/KEEPER_logo.png" title="{% trans "Landing Page" %}"/></a>
		</div>

		<div class="container doi_root">
			<div>
				<h1 class="doi_title">{{title}}</h1>
				<p class="doi_desc more">{{md.description}}</p>

				<div class="doi_table_row"><b>{% trans "Author(s)" %}: </b>{{authors}}</div>

				{% if md.institute|length > 0 %}
					<div class="doi_table_row"><b>{% trans "Institute" %}: </b>{{md.institute}}</div>
				{% endif %}
				{% if md.year|length > 0 %}
					<div class="doi_table_row"><b>{% trans "Year" %}: </b>{{md.year}}</div>
				{% endif %}
				<br />

				{% if archive_repos|length > 0 %}
					<b>{% trans "Archives" %}</b><br />
					<table style="width:100%">
						<tr>
							<th>Version</th>
							<th>Date</th>
							<th>Link to Archive</th>
						</tr>
						{% for archive_repo in archive_repos%}
						<tr>
							<th>{{archive_repo.version}}</th>
							<th>{{archive_repo.created}}</th>
							<th><a href="/archive/libs/{{archive_repo.repo_id}}/{{archive_repo.version}}/0/">Link</a><br /></th>
						</tr>
					{% endfor %}
					</table>
					<br />
				{% endif %}
				{% if doi_repos|length > 0 %}
					<b>{% trans "Digital Object Identifier(DOI)" %}</b><br />
					<table style="width:100%">
						<tr>
							<th>Date</th>
							<th>DOI</th>
						</tr>
					{% for doi_repo in doi_repos%}
						<tr>
							<th>{{doi_repo.created}}</th>
							<th><a href="{{doi_repo.doi}}">{{doi_repo.doi}}</a><br /></th>
						</tr>
					{% endfor %}
					</table>
					<br />
				{% endif %}
				{% if bloxberg_certs|length > 0 %}
					<b>Bloxberg Transactions</b><br />
					<table style="width:100%">
						<tr>
							<th>Name</th>
							<th>Date</th>
							<th>Link</th>
						</tr>
					{% for bloxberg_cert in bloxberg_certs%}
						<tr>
							<th>{{bloxberg_cert.content_name}}</th>
							<th>{{bloxberg_cert.created}}</th>
						{% if bloxberg_cert.path == '/' %}
							<th><a href="/bloxberg-cert/transaction/{{bloxberg_cert.transaction_id}}/">Link to certificates</a><br /></th>
						{% else %}
							<th><a href="/bloxberg-cert/transaction/{{bloxberg_cert.transaction_id}}/{{bloxberg_cert.checksum}}/">Link to certificate</a><br /></th>
						{% endif %}
						</tr>
					{% endfor %}
					</table>
					<br />
				{% endif %}
				<div class="doi_table_row"><b>{% trans "Contact" %}: </b><a class="doi_contact" href="mailto:{{owner_contact_email}}">{{owner_contact_email}}</a></div>
			</div>
		</div>
		{% include "keeper_footer.html" %}
		{% include "show_more.html" %}
	</body>
</html>
