{% extends 'base_for_react.html' %}
{% load seahub_tags i18n avatar_tags %}
{% load render_bundle from webpack_loader %}

{% block sub_title %}{% trans "Library Details" %} - {% endblock %}

{% block extra_style %}
{% render_bundle 'repoSnapshot' 'css' %}
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
// overwrite the one in base_for_react.html
window.libraryDetails = {
	pageOptions: {
		repoID: '{{repo.id}}',
		repoName: '{{repo_name|escapejs}}',
		repoDesc: '{{repo_desc|escapejs }}',
		institute: '{{institute|escapejs}}',
		authors: '{{authors|escapejs}}',
		year: '{{year|escapejs}}',

		doi_repos: '{{ doi_repos|escapejs }}',
		archive_repos: '{{ archive_repos|escapejs }}',
		bloxberg_certs: '{{ bloxberg_certs|escapejs }}',
		hasCDC: '{{ hasCDC|escapejs }}',
		owner_contact_email: '{{ owner_contact_email|escapejs }}',
	}
};
</script>
{% render_bundle 'libraryDetails' 'js' %}
{% endblock %}
