/*************************************************************************/
/* CUSTOM CSS FILE | SEAFILE PRO SERVER VERSION 6.0.3                    */
/*************************************************************************/

/*
 ********************************************************************************
 * LOG IN PAGE					                                *
 ********************************************************************************	
*/

/* FOOTER */
	
	/*********************************************/
	/* common settings for mobile and pc version */
	/*********************************************/
	
	/* language selector inside header */
	#lang-context{color:#57a5b8 !important;}

	/* log-in page footer */
	#login-footer-ctn{
		border-top: 5px solid #57a5b8; 
		width: 100%; height: 15%; 
		position: fixed; bottom:0px; left:0px; 
		background: #EBEBEB;}

	#login-footer-ctn a{font-weight: normal !important; font-size: 10pt; color: black !important;}
	#login-footer-ctn h4{font-size:10pt; font-weight: bold;}
	
	/* background of the footer(if any) */
	@media only screen and (min-height:700px){
        #login-footer-ctn{width:100%; height:20%; position: fixed; bottom:0%; left:0%;}
        #login-footer-item{height: 90%; border-right: 1px solid #959B9A;}
	}

		/***************** Mobile version ***********************************/
		/********************************************************************/

		/* no footer in the mobile version */
		/*@media only screen and (max-width:750px){#login-footer-ctn{display: none;}}*/

		/***************** Tablet version ***********************************/
		/********************************************************************/
		/*@media screen and (min-width: 370px) and (max-width: 850px)  {
		#login-footer-item{height: 90%; border-right: 1px solid #959B9A;}

		#login-footer-item1{width: 20%; position: absolute; left:5.5%; top:10%;}
		#login-footer-item2{width: 20%; position: absolute; left:28.5%; top:10%;}
		#login-footer-item3{width: 20%; position: absolute; left:51.5%; top:10%;}
		#login-footer-item4{width: 20%; position: absolute; left:74.5%; top:10%;}
		}
		@media only screen and (max-height:700px){
		#login-footer-ctn{width:100%; height:25%; position: fixed; bottom:0%; left:0%;}
		#login-footer-item{height: 90%; border-right: 1px solid #959B9A;}
		}*/
		
		/***************** Desktop version **********************************/
		/********************************************************************/
		@media only screen and (min-width:850px){
	
		#login-footer-item1{width: 12.5%; position: absolute; left:22.5%; top:10%;}
		#login-footer-item2{width: 12.5%; position: absolute; left:37.5%; top:10%;}
		#login-footer-item3{width: 12.5%; position: absolute; left:52.5%; top:10%;}
		#login-footer-item4{width: 12.5%; position: absolute; left:67.5%; top:10%;}
		}
	

		
		#square-footer{
			width: 30%;
			height: 30%;
			position: fixed; 
			bottom: 10%;
			left: 22.5%;}

		#title{
			width: 55%;
			height: 15%;
			position: fixed; 
			left: 22.5%;
			top: 15%;}

		#subtitle{
			width:30%;
			height: 20%; 
			position: fixed;
			left: 22.5%;
			top: 35%;}
			
		#title_logo{
			position: absolute;
			top: 1%;
			left:1%;}

		#text_title{
			position: absolute; 
			top: 40%;
			left: 1%;}

		#text_title h3{font-size:40pt; font-family: AppleGothic !important;font-style: oblique; color:#57a5b8 !important; font-weight:500;}
		#subtitle p{font-size:15pt; font-family: AppleGothic !important;font-style: oblique; line-height: 1.8; font-weight: 100;}
		#square-footer h4{color:#57a5b8 !important;font-family: AppleGothic !important;font-style: oblique;}
		#square-footer a{color: #7C7F7E !important;font-family: AppleGothic !important;font-style: oblique;font-weight: 100;}
		#square-footer table td{border: none !important; padding:10px;}




        /* Login page common css */

		/*#main .container {*/
			/*margin-top: 2%;*/
            /*padding-bottom: 20px;*/
		/*}*/

        #info_panel h3 {
            font-size: 3em;
            color: #b71a52;
        }

        #info_panel p {
            font-size: 1.35em;
        }


        /* Login panel */
		#login_panel {
            float: none;
            width: 345px;
			transition: top 0.8s; 
			transition: right 0.8s; 
			background: rgba(255, 255, 255, 1) !important;
            box-shadow: none;
			z-index: 1;            
		}

        #login_panel .input {
            font-size: 14px;
            margin: 5px 0 10px;
        } 
        
        #login_panel .remember {
            margin-top: 10px;
        }

        #login_panel .con {
            padding: 20px 0 20px;
            width: 268px;
            margin: 0 auto;
        }

        /* LabCam banner  */
        #login_panel .con.auth {
            padding: 5px 0px 10px 0px; 
            /*padding-bottom: 10px;*/
        }

        #labcam-banner p {
            font: 13px/1.5 Arial,Helvetica,sans-serif;
            text-align: center;
            color: #333;
            margin-bottom: 0px;
        }

        @media (min-width: 1200px), (max-width: 991px) {
            #labcam-banner img { width: 331px; }
        }
        @media (max-width: 1199px) and (min-width: 992px) {
            #labcam-banner img { width: 343px; }
        }
       
        /* FOOTER */
        #lg_footer {
            bottom: 0;
            padding-bottom: 0px;
       }

        #lg_footer .container {
            border-top: 1px solid #dcdcdc; 
        }

       
        #lg_footer div a {
            color: #575859; 
            font-weight: lighter;
        }

        #lg_footer div h4 {
            color: #b71a52; 
        }

        #lg_footer img {
            height: 30px;
            width: auto;
        }

        /*footer on inner pages*/
        #footer-ctn a{ 
            color: #B7B7B7;
            font-weight: normal;
        }

        #footer-ctn h4{ 
            color: #57a5b8 !important;  
        }
/*
 ********************************************************************************
 ********************************************************************************	
*/

/*
 ********************************************************************************
 * GENERAL SETTINGS					                        *
 ********************************************************************************	
*/

/* delete the dashed outline of links */
a:focus{outline:none;}
/* no link underline */
a:link{text-decoration:none;}

/**** COLOR SUBSTITUTION ->#57a5b8 ****/
/**** Global ****/
a, a:focus, a:hover {
    color: #57a5b8 
}
@media (max-width:767px) {
    .nav-con-tabs-nav a:hover,
    .nav-con-tabs-nav .ui-state-active a,
    .nav-con-tabs-nav .ui-state-active a:hover {
        color:#57a5b8;
        border-color:#57a5b8;
    }
}
.tab-popup-tabs-nav .ui-state-active .a,
.tab-popup-tabs-nav .tab .a:hover {
    color:#57a5b8;
    border-bottom-color:#57a5b8;
}
.load-more-discussion {
    color:#57a5b8;
}
.tabnav-tab-cur a,
.tabnav-tab a:hover,
.wiki-nav .cur-item .link,
.wiki-nav .link:hover,
#right-panel .hd .ui-state-active .a,
#right-panel .hd .a:hover {
    color:#57a5b8;
    border-bottom-color: #57a5b8;
}
#plans th { 
   color:#57a5b8;
}
.repo-op .op-link:hover {
   color:#57a5b8;
}

/**** Fine ****/
a.path-link, p a, div.empty-tips a, div.commit a, div span a, div a:hover.op-link, div form a, 
#wiki-pages a, div#search-results a, div#ls-ch ul li a, a#file-star, a.icon-star, #share-tabs div#dir-user-share a,
div.members a, div#group a:focus, #group-discussions a.msg-username, span.op-target, a.go-back:hover,
div.op-container a, div#dir-view li.grid-item a.ellipsis.text-link, .commit-list a, .side-tabnav h3,
.op-icon.sf2-x, [class^='sf2-icon-']:hover {
    color: #57a5b8 !important
}
#side-nav a#enable-mods:focus {
    color: #ccc !important
}
.nav-con-tabs-nav .ui-state-active a {
    background: #57a5b8 !important
}
.new-narrow-panel .hd, #notifications .num {
    background: #b71a52 !important
}
.side-tabnav-tabs .tab-cur a {
    background-color: #57a5b8 !important;
}
.sf-dropdown-menu a:hover, .dirent-hidden-op.sf-dropdown-menu a:hover, .grid-item-op.sf-dropdown-menu a:hover,
.repo-hidden-op.sf-dropdown-menu a:hover, #my-libs-more-op .sf-dropdown-menu a:hover {
    background: #eef0db !important;
}
.sf-dropdown-menu a, .dirent-hidden-op.sf-dropdown-menu a, .grid-item-op.sf-dropdown-menu a,
.repo-hidden-op.sf-dropdown-menu a, #my-libs-more-op .sf-dropdown-menu a  {
    color: black !important;
}

.ui-progressbar-value, .progress .bar {
    background: #57a5b8;
}

.fixed-upload-file-dialog .fileupload-buttonbar .cancel, .template-upload .btn {
    color: #57a5b8;
}
#notice-popover li.unread {
    border-left-color: #57a5b8;
}

div.fright.js-file-op > a:focus {
    color: white;
}

#guide-for-new .icon-lightbulb {
    color: #57a5b8;
}

/*
 ********************************************************************************
 * SIDE TOOLBAR					                               
 *
 ********************************************************************************	
*/

/* titles of the side toolbar: Files, Tools, Share Admin */
.side-nav-con h3{
		 font-size: 20px !important;
		 pointer-events: none !important;}

/* "My Libraries" tab is highlighted when accessing the homepage */
/*.side-tabnav-tabs .tab-cur a{background-color: #57a5b8 !important;}*/
/*.side-tabnav-tabs .tab-cur a:active{background-color: #57a5b8 !important;}*/



/*
 ********************************************************************************
 * NAVIGATION FOOTER	                                                        *
 *								                *
 * To do: no implementation of the tablet version				*
 *										*
 ********************************************************************************	
*/

	/*********************************************/
	/* common settings for mobile and pc version */
	/*********************************************/

	/* footer container */
	.side-nav-footer{
		/* footer container is centered in the navigation sidebar */
		width:80%;
		position:absolute;
		left:10%;
		bottom: 10%;
		/* background of the footer must be transparent */
		background-color:rgba(254,254,254,1) !important;
		transition: bottom 0.7s;
		border-top: 1px solid #E5EAEA;
		border-left: 1px solid #E5EAEA;
		border-right: 1px solid #E5EAEA;
		border-radius:5px;}

	#footer-ctn{	
		/* the footer canva must totally fill its container */
		width:100%;
		height:100%;
		background-color:rgba(254, 254, 254, 1) !important;
		position: absolute;
		top:0%;
		left:0%;}
	
	/* triangle picture */
	#img-ctn{
		min-width:10px;
		max-width:10px;
		min-height:10px;
		max-height:10px;
		position:absolute;
		top:-1px;
		cursor:pointer;}

	#footer-img{
		width:10px; 
		height:10px; 
		opacity:0.35; 
		/* rotation transition */
		transition: transform 0.4s;}

	/* pictures of the footer */
	#seafile-logo{max-width:40%;max-height:40%;}
	#MPDL-logo{max-width:80%;max-height:80%;}

		/********************************************************************************/
		/***** wide screen version ******************************************************/
		/********************************************************************************/
		@media (min-width:900px) {
			.side-nav-footer{height:35%;bottom: -32%;}
			#img-ctn{left:2%;}
			#link-bar{width: 85%; position: absolute; left: 14%; top:1%;font-size: 0.65vw;}

			/* positioning of elements inside the toolbar */
			#barr-link1{width: 30%; position: absolute; left:0%;}
			#barr-link2{width: 20%; position: absolute; left:35%;}
			#barr-link3{width: 20%; position: absolute; right:0%;}
	
			.footer-item{
			max-width:45%;
			padding:1% 2% 1% 2%;
			position: absolute; font-size: 0.65vw;}
	
			#footer-item1{top:13%;left: 5%; max-height:35%;}
			#footer-item2{max-height: 35%;top:13%;left: 52.5%;}
			#footer-item3{max-height: 47%;top:51%;left: 5%;}
			#footer-item4{max-height: 47%;top:51%;left: 52.5%;}

   		}



/*
 ********************************************************************************
 ********************************************************************************	
*/

#top-search-form .search-submit{border: 1px solid #E5EAEA;}



/* image preview */

	/* cursor */
	.mfp-close:hover{cursor: pointer !important;}
	.mfp-close{width:20px !important;}
	.mfp-zoom-out-cur:hover{cursor: auto !important;}
	.mfp-img:hover{cursor: auto !important;}

	/* link to open image in another tab */
	/*.mfp-bottom-bar .mfp-title a{color:#57a5b8 !important;}*/

/* trash bin */
	
	/* trash bin title */
	/*.repo-trash-hd span{color:#57a5b8 !important;}*/

	/* deleted files list */
	/*#wide-panel-noframe table td a{color:#57a5b8 !important;}*/

/* file modifications */


/*#paginator a{color:#57a5b8 !important;}*/

/*h3 span{color:#57a5b8 !important;}*/

/* user name */
/*.author a{color:#57a5b8 !important;}*/

/*.go-back:hover{color:#57a5b8 !important;}*/

/* system administration */
#side-nav h3{color:#005c71 !important;}
div#right-panel td a{color:#57a5b8}

/* icon hover color */
#notice-icon span:hover{color:#006f7b !important;}
#group-settings-icon:hover{color:#006f7b;}
#group-members-icon:hover{color:#006f7b;}
#group-discussions-icon:hover{color:#006f7b;}


/* textarea are not resizable */
textarea{resize: none;}

/* correct the problem of the group discussion panel */
#group-discussions-icon{z-index:2;}
#group-members{z-index:1;}
#group-settings{z-index:1;}

#upload-menu li a:hover{background: #f4efde !important; color: black !important;}

#lg_ft:hover{cursor: pointer;}
.commit.fleft a {font-weight: 600 !important;}
#MPDL-logo:hover{cursor: pointer;}
#seafile-logo:hover{cursor: pointer;}




