/*************************************************************************/
/* CUSTOM CSS FILE | SEAFILE PRO SERVER VERSION 6.0.3                    */
/*************************************************************************/

/*
 ********************************************************************************
 * LOG IN PAGE					                                *
 ********************************************************************************	
*/

/* FOOTER */
	
	/*********************************************/
	/* common settings for mobile and pc version */
	/*********************************************/
	
	/* language selector inside header */
	#lang-context{color:#57a5b8 !important;}

	/* log-in page footer */
	#login-footer-ctn{
		border-top: 5px solid #57a5b8; 
		width: 100%; height: 15%; 
		position: fixed; bottom:0px; left:0px; 
		background: #EBEBEB;}

	#login-footer-ctn a{font-weight: normal !important; font-size: 10pt; color: black !important;}
	#login-footer-ctn h4{font-size:10pt; font-weight: bold;}
	
	/* background of the footer(if any) */
	@media only screen and (min-height:700px){
	#login-footer-ctn{width:100%; height:20%; position: fixed; bottom:0%; left:0%;}
	#login-footer-item{height: 90%; border-right: 1px solid #959B9A;}
	}

		/***************** Mobile version ***********************************/
		/********************************************************************/

		/* no footer in the mobile version */
		/*@media only screen and (max-width:750px){#login-footer-ctn{display: none;}}*/

		/***************** Tablet version ***********************************/
		/********************************************************************/
		/*@media screen and (min-width: 370px) and (max-width: 850px)  {
		#login-footer-item{height: 90%; border-right: 1px solid #959B9A;}

		#login-footer-item1{width: 20%; position: absolute; left:5.5%; top:10%;}
		#login-footer-item2{width: 20%; position: absolute; left:28.5%; top:10%;}
		#login-footer-item3{width: 20%; position: absolute; left:51.5%; top:10%;}
		#login-footer-item4{width: 20%; position: absolute; left:74.5%; top:10%;}
		}
		@media only screen and (max-height:700px){
		#login-footer-ctn{width:100%; height:25%; position: fixed; bottom:0%; left:0%;}
		#login-footer-item{height: 90%; border-right: 1px solid #959B9A;}
		}*/
		
		/***************** Desktop version **********************************/
		/********************************************************************/
		@media only screen and (min-width:850px){
	
		#login-footer-item1{width: 12.5%; position: absolute; left:22.5%; top:10%;}
		#login-footer-item2{width: 12.5%; position: absolute; left:37.5%; top:10%;}
		#login-footer-item3{width: 12.5%; position: absolute; left:52.5%; top:10%;}
		#login-footer-item4{width: 12.5%; position: absolute; left:67.5%; top:10%;}
		}
	

		
		#square-footer{
			width: 30%;
			height: 30%;
			position: fixed; 
			bottom: 10%;
			left: 22.5%;}

		#title{
			width: 55%;
			height: 15%;
			position: fixed; 
			left: 22.5%;
			top: 15%;}

		#subtitle{
			width:30%;
			height: 20%; 
			position: fixed;
			left: 22.5%;
			top: 35%;}
			
		#title_logo{
			position: absolute;
			top: 1%;
			left:1%;}

		#text_title{
			position: absolute; 
			top: 40%;
			left: 1%;}

		#text_title h3{font-size:40pt; font-family: AppleGothic !important;font-style: oblique; color:#57a5b8 !important; font-weight:500;}
		#subtitle p{font-size:15pt; font-family: AppleGothic !important;font-style: oblique; line-height: 1.8; font-weight: 100;}
		#square-footer h4{color:#57a5b8 !important;font-family: AppleGothic !important;font-style: oblique;}
		#square-footer a{color: #7C7F7E !important;font-family: AppleGothic !important;font-style: oblique;font-weight: 100;}
		#square-footer table td{border: none !important; padding:10px;}

h2 .new-narrow-panel{background: #57a5b8 !important;}


/*
 ********************************************************************************
 ********************************************************************************	
*/

/*
 ********************************************************************************
 * GENERAL SETTINGS					                        *
 ********************************************************************************	
*/

/* delete the dashed outline of links */
a:focus{outline:none;}
/* no link underline */
a:link{text-decoration:none;}


/*
 ********************************************************************************
 * SIDE TOOLBAR					                               
 *
 ********************************************************************************	
*/

/* titles of the side toolbar: Files, Tools, Share Admin */
.side-nav-con h3{
		 font-size: 20px !important;
		 pointer-events: none !important;}

/* "My Libraries" tab is highlighted when accessing the homepage */
.side-tabnav-tabs .tab-cur a{background-color: #57a5b8 !important;}
.side-tabnav-tabs .tab-cur a:active{background-color: #57a5b8 !important;}



/*
 ********************************************************************************
 * NAVIGATION FOOTER	                                                        *
 *								                *
 * To do: no implementation of the tablet version				*
 *										*
 ********************************************************************************	
*/

	/*********************************************/
	/* common settings for mobile and pc version */
	/*********************************************/

	/* footer container */
	.side-nav-footer.ovhd{
		/* footer container is centered in the navigation sidebar */
		width:80%;
		position:absolute;
		left:10%;
		bottom: 10%;
		/* background of the footer must be transparent */
		background-color:rgba(254,254,254,1) !important;
		transition: bottom 0.7s;
		border-top: 1px solid #E5EAEA;
		border-left: 1px solid #E5EAEA;
		border-right: 1px solid #E5EAEA;
		border-radius:5px;}

	#footer-ctn{	
		/* the footer canva must totally fill its container */
		width:100%;
		height:100%;
		background-color:rgba(254, 254, 254, 1) !important;
		position: absolute;
		top:0%;
		left:0%;}
	
	/* triangle picture */
	#img-ctn{
		min-width:10px;
		max-width:10px;
		min-height:10px;
		max-height:10px;
		position:absolute;
		top:-1px;
		cursor:pointer;}

	#footer-img{
		width:10px; 
		height:10px; 
		opacity:0.35; 
		/* rotation transition */
		transition: transform 0.4s;}

	/* pictures of the footer */
	#seafile-logo{max-width:40%;max-height:40%;}
	#MPDL-logo{max-width:80%;max-height:80%;}

		/********************************************************************************/
		/***** wide screen version ******************************************************/
		/********************************************************************************/
		@media (min-width:900px) {
			.side-nav-footer.ovhd{height:35%;bottom: -32%;}
			#img-ctn{left:2%;}
			#link-bar{width: 85%; position: absolute; left: 14%; top:1%;font-size: 0.65vw;}

			/* positioning of elements inside the toolbar */
			#barr-link1{width: 30%; position: absolute; left:0%;}
			#barr-link2{width: 20%; position: absolute; left:35%;}
			#barr-link3{width: 20%; position: absolute; right:0%;}
	
			.footer-item{
			max-width:45%;
			padding:1% 2% 1% 2%;
			position: absolute; font-size: 0.65vw;}
	
			#footer-item1{top:13%;left: 5%; max-height:35%;}
			#footer-item2{max-height: 35%;top:13%;left: 52.5%;}
			#footer-item3{max-height: 47%;top:51%;left: 5%;}
			#footer-item4{max-height: 47%;top:51%;left: 52.5%;}
		}
	
		/********************************************************************************/
		/***** mobile version ***********************************************************/
		/********************************************************************************/
		@media (max-width:900px) {
		.side-nav-footer{display: none;}}
		
/*
 ********************************************************************************
 ********************************************************************************	
*/

#top-search-form .search-submit{border: 1px solid #E5EAEA;}

@media only screen and (max-device-width:400px) {
	#info_panel, #lg_footer{display:none;}
	#login_panel{width: 90% !important; top: 30% !important; left: 5% !important; font-size: 1em !important; margin: 4px !important; z-index: -1 !important;}

}


/* image preview */

	/* cursor */
	.mfp-close:hover{cursor: pointer !important;}
	.mfp-close{width:20px !important;}
	.mfp-zoom-out-cur:hover{cursor: auto !important;}
	.mfp-img:hover{cursor: auto !important;}

	/* link to open image in another tab */
	.mfp-bottom-bar .mfp-title a{color:#57a5b8 !important;}

/* trash bin */
	
	/* trash bin title */
	.repo-trash-hd span{color:#57a5b8 !important;}

	/* deleted files list */
	#wide-panel-noframe table td a{color:#57a5b8 !important;}

/* file modifications */


#paginator a{color:#57a5b8 !important;}

h3 span{color:#57a5b8 !important;}

/* user name */
.author a{color:#57a5b8 !important;}

.go-back:hover{color:#57a5b8 !important;}

/* system administration */
#side-nav h3{color:#005c71 !important;}
.row table tr td a{color:#57a5b8 !important;}

/* icon hover color */
#notice-icon span:hover{color:#006f7b !important;}
#group-settings-icon:hover{color:#006f7b;}
#group-members-icon:hover{color:#006f7b;}
#group-discussions-icon:hover{color:#006f7b;}

#guide-for-new .icon-lightbulb.fleft{color: #57a5b8 !important;}

/* textarea are not resizable */
textarea{resize: none;}

/* correct the problem of the group discussion panel */
#group-discussions-icon{z-index:2;}
#group-members{z-index:1;}
#group-settings{z-index:1;}

.grid-item a{color: #57a5b8  !important;}

#upload-menu li a:hover{background: #f4efde !important; color: black !important;}

.hidden-op.dirent-hidden-op.sf-dropdown-menu li a{color: black !important;}
.hidden-op.dirent-hidden-op.sf-dropdown-menu li a:hover{background-color: #f4efde !important; color: black !important;}


.left-right-tabs-nav.fleft.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all li a:focus{background-color: #57a5b8 !important;}
.left-right-tabs-nav.fleft.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all li a:active{background-color: #57a5b8 !important;}

#lg_ft:hover{cursor: pointer;}
.commit.fleft a{color: #57a5b8 !important; font-weight: 600 !important;}
#MPDL-logo:hover{cursor: pointer;}
#seafile-logo:hover{cursor: pointer;}

.left-right-tabs-nav.ui-state-active a{background: #57a5b8 !important;}

.op-target{color: #57a5b8 !important;}

