Dear {{ USER_NAME }},
<p> 
congratulation, you did the right thing! Max Planck Digital Library herewith certifies that the data of the research project &#34;{{ PROJECT_NAME }}&#34; is now archived long term compliant and according to the rules for data storage of the Max Planck Society.
</p> 
<p>
A Cared Data Certificate was automatically added to <a target="_blank" href="{{ PROJECT_URL }}">your project</a> in KEEPER. Please make sure you use KEEPER in accordance to the <a href="https://keeper.mpdl.mpg.de/f/f62758e53c/" target="_blank">KEEPER Terms of Service</a> and the <a href="https://keeper.mpdl.mpg.de/f/1b0bfceac2/" target="_blank">KEEPER Cared Data Commitment</a>
</p> 
<p>
Thank you for using the KEEPER Service,
your KEEPER Service Team of the Max Planck Digital Library<br/>
https://keeper.mpdl.mpg.de/
</p>
