{% extends "base.html" %}
{% load i18n %}

{% block sub_title %}{% trans "Log In" %} - {% endblock %}
{% block header_css_class %}{% endblock %}
{% block main_css_class %}{% endblock %}

{% block extra_style %}
<style type="text/css">

html, body, #wrapper { 
    height:100%; 
}

#wrapper {
    background: url('/media/custom/keeper-login-page-background_1600px.svg') center top no-repeat scroll;
    background-size: cover;
}

#main {
    min-height:0;
}

.navbar {
    border-radius: 0;
}       


#header {
    border-bottom: 0;
}

.row {
    background-color: rgba(244,243,245,0.9);
}

#mpdl-flag {
    position: relative;
    top: -1px;
    padding: 0 0 100px 40px;
}

#info_panel {
    padding: 0 0 150px 40px;

}


#login_panel h2 { 
    padding-left: 20px;
}


#login_panel .input.name-input, #login_panel .input.passwd-input, #login_panel input:-webkit-autofill {
    background-color: #f8dc9b !important;
    -webkit-box-shadow: 0 0 0px 1000px #f8dc9b  inset;
}

#login_panel .input.name-input, #login_panel .input.passwd-input {
    background-color: #f8dc9b !important;
}

.new-narrow-panel {
    margin: 20px 0px 20px 0px !important;
    width: 95% !important;
}

#lg_footer #keeper-links {
    background-color: #f8dc9b;
    padding: 10px 40px 10px 40px;
}

#lg_footer #keeper-links h4 {
    margin-bottom: 0.3em;
}

#seafile-credits {
    background-color: #d48074;
    text-align: right;
}

#seafile-credits div {
    line-height: 46px;
}

@media (max-width: 991px) {
    #login_panel_parent {
        width: 380px;
        margin-left: 12px;
    }
    #lg_footer #keeper-links h4 {
        margin-bottom: 0.2em;
        margin-top: 0.6em;
    }
  }



</style>
{% endblock %}

{% block main_content %}
<div class="container">
    <div class="row">
        <div id="mpdl-flag" class="col-lg-12 hidden-md-down">
            <img src="/media/custom/mpdl-flag-grey.svg" alt=""/>
        </div>

    </div>
    <div id="central-wrapper" class="row">
        <div class="col-xl-7 col-lg-7 hidden-md-down">
            <div id="info_panel">
                <h3>Archive the way you work</h3>
                <div id="intro_en">
                    <p>A free service for all Max Planck employees and project partners with more than 1TB of storage per user for your researchdata. Profit from safe data storage, seamlessly integrated into your research workflow.</p>
                    <p>You do the right thing - with storing your data in Keeper you can be sure to fulfil the archiving regulations of the Max Planck Society to ensure ‘good scientific practice’.</p>
                    <p>Browse all research projects in KEEPER<span>&nbsp; &nbsp;</span><span><input type="button" title="Only accessible within the Max Planck Society" value="Project Catalog" onclick="window.location='/catalog';"></span></p>
                </div>
                <div id="intro_de">
                    <p>Ein kostenloser Service für alle Max-Planck-Mitarbeiter und Projektpartner mit mehr als 1 TB Speicher pro Nutzer für Ihre Forschungsdaten. Profitieren Sie von einer sicheren Datenspeicherung, nahtlos integriert in Ihrem Forschungsprozess.</p>
                    <p>Sie tun genau das Richtige - mit der Speicherung Ihrer Daten in Keeper können Sie sicher sein, die Archivierungsvorschriften der Max-Planck-Gesellschaft zu erfüllen, und die Regeln zur Sicherung "guter wissenschaftlicher Praxis" einzuhalten.</p>
                    <p>Übersicht aller Forschungsprojekte in KEEPER<span>&nbsp; &nbsp;</span><span><input type="button" title="Only accessible within the Max Planck Society" value="Project Catalog" onclick="window.location='/catalog';"></span></p>
                </div>
            </div>
        </div>
        


        <div id="login_panel_parent" class="col-xl-4 col-xl-offset-1 col-lg-5 col-md-6 col-sm-7 col-xs-10">
            {#<div class="login-panel">#}
                <div id="login_panel" class="new-narrow-panel">
                    {#<h1 class="login-panel-hd">{% trans "Log In" %}</h1>#}
                    <h2 class="hd">{% trans "Log In" %}</h2>
                    <form action="" method="post" class="con">{% csrf_token %}
                        <input type="text" name="login" placeholder="{% trans "Email or Username" %}" aria-label="{% trans "Email or Username" %}" title="{% trans "Email or Username" %}" value="" class="input name-input" /><br />
                        <input type="password" name="password" placeholder="{% trans "Password" %}" aria-label="{% trans "Password" %}" title="{% trans "Password" %}" value="" class="input passwd-input" autocomplete="off" />

                        {% if form.captcha %}
                        <div class="ovhd">
                            <span id="refresh-captcha" title="{% trans "Refresh" %}" class="icon-refresh op-icon fright"></span>
                            {{ form.captcha }}
                        </div>
                        {% endif %}

                        <input type="hidden" name="next" value="{% if next %}{{ next|escape }}{% else %}{{ SITE_ROOT }}{% endif %}" />
                        {% if form.errors %}
                        {% if form.captcha.errors %}
                        {{ form.captcha.errors}}
                        {% elif form.errors.freeze_account %}
                        <p class="error">{{ form.errors.freeze_account }}</p>
                        {% elif form.errors.inactive %}
                        <p class="error">{{ form.errors.inactive }}</p>
                        {% else %}
                        <p class="error">{% trans "Incorrect email or password" %}</p>
                        {% endif %}
                        {% else %}
                        <p class="error hide"></p>
                        {% endif %}

                        <label class="checkbox-label remember">
                            <input type="checkbox" name="remember_me" class="vam remember-input" />
                            <span class="vam">{% blocktrans %}Remember me for {{remember_days}} days {% endblocktrans %}</span>
                        </label>
                        <button type="submit" class="submit">{% trans "Log In" %}</button>

                        <a href="{{ SITE_ROOT }}accounts/password/reset/" class="normal forgot-passwd">{% trans "Forgot password?" %}</a>
                    </form>

                    <div class="con auth">

                        {% if enable_signup %}
                        <a href="{{ signup_url }}" class="normal" id="sign-up">{% trans "Signup" %}</a>
                        {% endif %}

                        {% if enable_sso %}
                        <a id="sso" href="#" class="normal">{% trans "Single Sign-On" %}</a>
                        {% endif %}
                        
                    </div> 
                    <div id="labcam-banner">
                        <a href="https://play.google.com/store/apps/details?id=de.mpg.mpdl.labcam&hl=de" target="_new">
                            <img id="labcam" src="/media/custom/LabCam_banner_330px.png" alt="" />
                            <p>Get the LabCam Android Add</p>
                        </a>
                    </div>

                </div>
            </div>

        </div>

        {% include "keeper_footer.html" %}


    </div>

{% endblock %}

{% block extra_script %}
<script type="text/javascript">
$('.login-panel-outer-container').prepend($($('#logo').html()).attr({'width': 160, 'height':40}).addClass('login-panel-logo'));

var $el = $('.login-panel-outer-container');
var elHeight = $el.outerHeight();
var wdHeight = $(window).height();
if (wdHeight > elHeight) {
    $el.css({'margin-top': (wdHeight - elHeight)/2});
}
$el.removeClass('vh');


$('[name="login"]').trigger('focus');

function setCaptchaInputWidth() {
    $('#id_captcha_1').outerWidth($('.input').outerWidth() - $('.captcha').width() - $('#refresh-captcha').outerWidth(true) - 10);
}
$(window).on('load', setCaptchaInputWidth);
$('.captcha').on('load', setCaptchaInputWidth);
$('#refresh-captcha').on('click', function() {
    $.ajax({
        url: '{% url 'captcha-refresh' %}',
        dataType:'json',
        cache:false,
        success: function(data) {
            $('.captcha').attr('src', data['image_url']);
            $('#id_captcha_0').val(data['key']);
        },
        error: function() {
            $('.error').removeClass('hide').html("{% trans "Failed to refresh the CAPTCHA, please try again later." %}");
        }
    });
    return false;
});

// TODO: $('#login-form').on('submit', function(){
$('input[type="submit"]').click(function(){
    if (!$.trim($('input[name="login"]').val())) {
        $('.error').removeClass('hide').html("{% trans "Email or username cannot be blank" %}");
        return false;
    }
    if (!$.trim($('input[name="password"]').val())) {
        $('.error').removeClass('hide').html("{% trans "Password cannot be blank" %}");
        return false;
    }
});
// set tabindex
$(function() {
    $('input:not([type="hidden"])').each(function(index) {
        $(this).attr('tabindex', index + 1);
    });
});

{% if enable_sso %}
$(function() {
    $('#sso').on('click', function() {
        window.location = "{% url 'sso' %}{% if next %}?next={{ next|escape }}{% endif %}" + encodeURIComponent(document.location.hash);
        return false;
    });
});
{% endif %}

{# KEEPER #}
$('#lang').addClass('fright');
var lang=$('#lang-context').attr('data-lang');
lang.onchange=translate();
function translate(){
    if(lang == "de"){
        $('#intro_de').show()
        $('#intro_en').hide()
    }else{
        $('#intro_en').show()
        $('#intro_de').hide()
    }	
}

</script>
{% endblock %}
