{% extends "base.html" %}
{% load i18n %}

{% block sub_title %}{% trans "Log In" %} - {% endblock %}

{% block main_content %}
 
<div class="container">
    <div class="row">
        <div class="col-lg-7">
            <div id="info_panel">
                <h3>Archive the way you work</h3>
                <p><span id="intro1">A new free service for all Max Planck employees and project partners with more than 1TB of storage per user for your researchdata. Profit from safe data storage, seamlessly integrated into your research workflow.</span></br></br>
                    <span id="intro2">You do the right thing - with storing your data in Keeper you can be sure to fulfil the archiving regulations of the Max Planck Society to ensure ‘good scientific practice’.</span></p>
                <p><span id="intro3">Browse all research projects in KEEPER</span><span>&nbsp; &nbsp;</span><span><input type="button" title="Only accessible within the Max Planck Society" value="Project Catalog" onclick="window.location='/catalog';"></span></p>
            </div>
        </div>
        <!--<div class="clearfix visible-lg-block"></div>-->
        <div id="login_panel_parent" class="col-lg-5">
            <div id="login_panel" class="new-narrow-panel">
                <h2 class="hd" style="background: #57a5b8 !important;">{% trans "Log In" %}</h2>
                <form id="form_login" action="" method="post" class="con">{% csrf_token %}
                    <label for="login">{% trans "Email or Username" %}</label>
                    <input type="text" name="login" id="login" value="" class="input" />
                    <label for="password">{% trans "Password" %}</label></br>
                    <a href="{{ SITE_ROOT }}accounts/password/reset/">{% trans "(forgot password)" %}</a>
                    <input type="password" name="password" id="password" value="" class="input" autocomplete="off" />
                    {% if form.captcha %}
                    <label>{% trans "CAPTCHA" %}</label><br />
                    {{ form.captcha }}
                    <p class="clear"><a  style="position: relative; right: 0px;" href="#" id="refresh-captcha">{% trans "Not clear? Refresh it." %}</a></p>
                    {% endif %}
                    <input type="hidden" name="next" value="{% if next %}{{ next|escape }}{% else %}{{ SITE_ROOT }}{% endif %}" />
                    {% if form.errors %}
                    {% if form.captcha.errors %}
                    <p class="error">{{ form.captcha.errors}}</p>
                    {% elif form.errors.freeze_account %}
                    <p class="error">{{ form.errors.freeze_account }}</p>
                    {% elif form.errors.inactive %}
                    <p class="error">{{ form.errors.inactive }}</p>
                    {% else %}
                    <p class="error">{% trans "Incorrect email or password" %}</p>
                    {% endif %}
                    {% else %}
                    <p class="error hide"></p>
                    {% endif %}

                    <label class="checkbox-label">
                        <input type="checkbox" name="remember_me" class="vam" />
                        <span class="vam">{% blocktrans %}Remember me for {{remember_days}} days {% endblocktrans %}</span>
                    </label>

                    <input type="submit" value="{% trans "Log In" %}" class="submit" />
                    {% if enable_signup %}
                    <a href="{{ signup_url }}">{% trans "Signup" %}</a>
                    {% endif %}
                    {% if enable_shib_login %}
                    <button id="shib-login" class="submit fright">{% trans "Shibboleth" %}</button>
                    {% endif %}

                    {% if enable_krb5_login %}
                    <button id="krb5-login" class="submit fright">{% trans "Kerberos" %}</button>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>
<div id="lg_footer">
    <div class="container">
        <div class="raw">
            <div class="col-md-3">
                <h4>What you need to know</h4>
                <a href="https://keeper.mpdl.mpg.de/f/d17ecbb967/" target="_blank">About Keeper</a></br>
                <a href="https://keeper.mpdl.mpg.de/f/1b0bfceac2/" target="_blank">Cared Data Commitment</a></br>
                <a href="/catalog" target="_blank">Project Catalog</a></br>
                <a href="https://keeper.mpdl.mpg.de/f/f62758e53c/" target="_blank">Terms of Services</a>
            </div>
            <div class="col-md-3">
                <h4>Desktop client</h4>
                <a href="/download_client_program/" target="_blank">Download the Keeper client for Windows, Linux and Mac</a>
            </div>
            <div class="col-md-3">
                <h4>The software behind Keeper</h4>
                <img id="seafile-logo" style="height: 30px; width: auto;"
                src="/media/custom/seafile_logo_footer.png" onclick="window.open('https://www.seafile.com/en/home/');"/></br>
                <a href="https://www.seafile.com/en/home/" target="_blank">© 2017 Seafile</a>
            </div>
            <div class="col-md-3">
                <h4>A service by</h4>
                <img id="lg_ft" src="/media/custom/mpdl.png" style="height: 30px; width: auto;" onclick="window.open('https://www.mpdl.mpg.de/');"/></br>
                <a href="mailto:keeper@mpdl.mpg.de">Contact Keeper Support</a></br>
                <a href="https://keeper.mpdl.mpg.de/f/17e4e9d648/" target="_blank">Impressum</a></br>
                <a href="https://keeper.mpdl.mpg.de/f/bf2c8a977f70428587eb/" target="_blank">Privacy Policy</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
$('[name="login"]').focus();

function setCaptchaInputWidth() {
    $('#id_captcha_1').css({'width': $('.input').outerWidth() - $('.captcha').width() - 10});
}
$(window).load(setCaptchaInputWidth);
$('.captcha').load(setCaptchaInputWidth);

$('#refresh-captcha').parent().css({'text-align':'right', 'margin':0});
$('#refresh-captcha').click(function() {
    $.ajax({
        url: '{% url 'captcha-refresh' %}',
        dataType:'json',
        cache:false,
        success: function(data) {
            $('.captcha').attr('src', data['image_url']);
            $('#id_captcha_0').val(data['key']);
        },
        error: function() {
            $('.error').removeClass('hide').html("{% trans "Failed to refresh the CAPTCHA, please try again later." %}");
        }
    });
    return false;
});
$('input[type="submit"]').click(function(){
    if (!$.trim($('input[name="login"]').val())) {
        $('.error').removeClass('hide').html("{% trans "Email or username cannot be blank" %}");
        return false;
    }
    if (!$.trim($('input[name="password"]').val())) {
        $('.error').removeClass('hide').html("{% trans "Password cannot be blank" %}");
        return false;
    }
});
// set tabindex
$(function() {
    $('input:not([type="hidden"])').each(function(index) {
        $(this).attr('tabindex', index + 1);
    });
});

{% if enable_shib_login %}
$(function() {
    $('#shib-login').click(function() {
        window.location = "{% url 'shib_login' %}{% if next %}?next={{ next|escape }}{% endif %}";
        return false;
    });
});
{% endif %}
</script>

<script type="text/javascript">

var language=document.getElementById('lang-context').innerText;
var intro1=document.getElementById("intro1");
var intro2=document.getElementById("intro2");
var intro3=document.getElementById("intro3");

function translate(){
	if(language=="Deutsch "){
		intro1.innerText='Ein kostenloser Service für alle Max-Planck-Mitarbeiter und Projektpartner'
				+' mit mehr als 1 TB Speicher pro Nutzer für Ihre Forschungsdaten.'
				+' Profitieren Sie von einer sicheren Datenspeicherung, nahtlos integriert' 
				+' in Ihrem Forschungsprozess.';
		intro2.innerText='Sie tun genau das Richtige - mit der Speicherung Ihrer Daten in Keeper können'
				+' Sie sicher sein, die Archivierungsvorschriften der' 
				+' Max-Planck-Gesellschaft zu erfüllen, und die Regeln zur'
   				+' Sicherung "guter wissenschaftlicher Praxis" einzuhalten.';
		intro3.innerText='Übersicht aller Forschungsprojekte in KEEPER';	
	}
	else{
		intro1.innerText='A new free service for all Max Planck employees and project partners'
				+' with more than 1TB of storage per user for your researchdata. Profit from safe data storage,'
				+' seamlessly integrated into your research workflow.';
		intro2.innerText='You do the right thing - with storing your data in Keeper you can be sure to fulfil'
				+' the archiving regulations of the Max Planck Society to ensure "good scientific practice".';
		intro3.innerText='Browse all research projects in KEEPER';
	}	
}

language.onchange=translate();

{% if enable_krb5_login %}
$(function() {
    $('#krb5-login').click(function() {
        window.location = "{% url 'krb5_login' %}{% if next %}?next={{ next|escape }}{% endif %}";
        return false;
    });
});
{% endif %}

{% if enable_adfs_login %}
$(function() {
    $('#adfs-login').click(function() {
        window.location = "{% url 'saml2_login' %}{% if next %}?next={{ next|escape }}{% endif %}";
        return false;
    });
});
{% endif %}
</script>
{% endblock %}
