.btn.author-control, 
.btn.director-control,
.btn.affiliation-control {
  margin-top: 45px;
}
.btn.affiliation-control {
  margin-top: 15px;
}

textarea.form-control {
  height: 5rem;
}

.user-setting-nav .nav-item.active .nav-link {
    color: #57a5b8;
    border-color: #57a5b8;
}
.user-setting-nav .nav-item.false .nav-link:hover {
    color: #57a5b8;
    /*background-color: #e2b6c7;*/
}

.btn-outline-primary:focus {
    box-shadow: 0 0 0 2px #e2b6c7 !important;
}
.val-error {
  color: red;
}
