body {
  overflow: hidden;
}
#wrapper {
  height: 100%;
}
.top-header {
  background: #f4f4f7;
  border-bottom: 1px solid #e8e8e8;
  padding: .5rem 1rem;
  flex-shrink: 0;
}

h3 {
  font-weight: 500;
  line-height: 1.1;
}

#header {
  font-size: 1.75rem;
}

.item-block {
  border-bottom: 1px solid #dddddd;
  padding: 12px 0px 12px 4px;
}

.item-block img {
  width: 20px;
  max-width: none !important;
}

.item-block h3 {
  margin: 0;
  padding: 0;
}

.item-block h3 a {
  color: #57a5b8;
}

.item-block p {
  margin: 0;
  padding: 0;
}

#lg_footer h4 {
  color: #57a5b8 !important;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: .5rem;
}

#keeper-links {
  margin-top: 10px;
}


